.auth-title__profile {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    text-align: center;
}

.auth-title__sign {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 40px 0 0 0;
    text-align: start;
}

@media screen and (max-width: 767px) {
    .auth-title__sign {
        margin: 50px 0 0 0;
    }
}
